- if request.remote_ip.start_with?('10.18.6')
  - machine = Machine.where(ip_address: request.remote_ip).first
  - desk = machine&.desk
  %p{style: 'font-size: 48px'}
    - if desk
      #{desk.name}
    - else
      ERROR
      #{request.remote_ip}

= form_tag sessions_path do
  .col-sm-4.col-sm-offset-4
    .form-group
      = text_field_tag :login, '', placeholder: 'Login ID', class: 'form-control'
    .form-group
      = password_field_tag :password, '', placeholder: 'Password', class: 'form-control'
    .form-group
      = submit_tag 'Log in', class: 'form-control btn btn-primary'
