- content_for(:content_header) { "PasswordTiers" }

= link_to 'New PasswordTier', new_password_tier_path, class: 'btn btn-primary'

%table.table.table-hover
  %thead
    %tr
      %th Description
      %th Not Before
      %th Not After
      %th{colspan: 2}
  %tbody
    - @password_tiers.each do |password_tier|
      %tr
        %td= link_to password_tier.description, password_tier_passwords_path(password_tier)
        %td= password_tier.not_before
        %td= password_tier.not_after
        %td= link_to 'Edit', edit_password_tier_path(password_tier)
        %td= link_to 'Destroy', password_tier, method: :delete, data: {confirm: 'Are you sure?'}
