= content_for(:content_header) { "Call a staff" }

.row
  %div{class: current_user.team.ioi2018_day2_special_announce_team? ? 'col-xs-6' : 'col-xs-12'}
    .box
      .box-header
        %h3.box-title Request

      .box-body
        %p Choose the appropriate request type from the list below, then click "Send request" button.

        = form_with(model: @hailing, local: true, class: 'form-inline') do |form|
          .form-group
            = form.select :request_type, options_for_select(Hailing::TYPE_TEXTS.map{|k, txt| [txt, k] }.reject {|_txt,k| Hailing::HIDDEN_TYPES.include?(k) }), class: 'control-label'
          .form-group
            = form.submit 'Send request', class: 'btn btn-primary'

  - if current_user.team.ioi2018_day2_special_announce_team?
    .col-xs-6
      .box
        .box-header
          %h3.box-title (To Italy Team) Exit the contest venue early
        .box-body
          %p
            We recognize that Italy team has to return early, even during the competition.
            To go out from the contest venue, click the button below. Staff will guide you to the exit.
          %p
            = form_with(model: @special_hailing, local: true, class: 'form-inline') do |form|
              = form.hidden_field :request_type
              = form.submit 'Request staff to exit', class: 'btn btn-danger', data: {confirm: 'Are you really sure? You CANNOT back here once you go out.'}
            %br
            %b Note that you CANNOT back to the contest venue once you left the contest venue.

.row
  .col-xs-12
    .box
      .box-header
        %h3.box-title Special Needs Information
      .box-body
        %p Special Needs data explains every contestants' special needs (e.g. disabilities). This is also notified to the staff when you call staff.

        - if current_user.special_requirement_note.present?
          %p We understand you have the following special needs:
          %pre= current_user.special_requirement_note

          %p If you think this is incorrect, please correct using the button below.

        - else
          %p We have not received any special needs information for you. Submit from the button below if you have any.

        = link_to 'Edit Special Needs', edit_special_requirement_note_path, class: 'btn btn-default'

.row
  .col-xs-12
    .box
      .box-header
        %h3.box-title Your recent requests
      .box-body
        %table.table.table-hover
          %thead
            %tr
              %th Request
              %th Time
          %tbody
            - @hailings.each do |hailing|
              %tr
                %td= hailing.request
                %td= hailing.created_at.in_time_zone('Asia/Tokyo') # XXX:
