- content_for(:content_header) { "Remote Task Executions" }

%div.panel.panel-default
  %div.panel-heading
    Task: #{@remote_task.description}
    %span{class: status_label(@remote_task)}= @remote_task.status
  %div.panel-body
    %p
      Kind: #{@remote_task.kind}
    %pre
      %code= @remote_task.task_arguments.to_yaml

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Status
      %th Description
      %th Driver
      %th External ID
  %tbody
    - @remote_task_executions.each do |execution|
      %tr
        %td= link_to execution.id.to_s, remote_task_execution_path(execution.task, execution)
        %td
          %span{class: p(status_label(execution))}= execution.status
        %td= link_to execution.description, remote_task_execution_path(execution.task, execution)
        %td= execution.target_kind
        %td= execution.external_id
