- content_for(:content_header) { "Teams" }

= link_to 'New Team', new_team_path, class: 'btn btn-primary'

%section
  = form_tag import_teams_path, class: 'form-inline', multipart: true do
    .form-group
      = file_field_tag 'csv'
    .form-group
      = submit_tag 'Import', class: 'btn btn-default'
  %p.small CSV without headers (slug,name)

%table.table.table-hover
  %thead
    %tr
      %th Slug
      %th Name
      %th{colspan: 2}
  %tbody
    - @teams.each do |team|
      %tr
        %td= team.slug
        %td= team.name
        %td= link_to 'Edit', edit_team_path(team)
        %td= link_to 'Destroy', team, method: :delete, data: {confirm: 'Are you sure?'}
