!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %title= yield(:title) || 'ioi-console'
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application', media: 'all'

  %body.sidebar-mini.skin-red
    .wrapper
      %header.main-header
        %a.logo{href: '/'}
          %span.logo-lg
            %b IOI
            Admin
          %span.logo-mini IOI

        %nav.navbar.navbar-static-top
          %a.sidebar-toggle{href: '#', data: { toggle: 'push-menu' }, role: 'button'}
            %span.sr-only Toggle navigation
          .navbar-custom-menu
            %ul.nav.navbar-nav
              - unless current_user
                %li
                  = link_to(new_admin_session_path(proceed: 1, return_to: params[:return_to] || url_for(params.to_unsafe_h.merge(only_path: true)))) do
                    %i.fa.fa-sign-in
                    Sign in
      %aside.main-sidebar
        %section.sidebar
          .user-panel
            .pull-left.image
              %img.circle{width: 160, height: 160, src: current_user&.avatar_url || 'https://pbs.twimg.com/profile_images/1016103253690351618/UAwTqdY-.jpg', alt: 'User Image'}
            .pull-left.info
              %p= current_user&.name
          %ul.sidebar-menu
            %li.header DATA
            %li{class: sidebar_active_class('admin/teams')}
              %a{href: teams_path}
                %i.fa.fa-link
                %span Teams
            %li{class: sidebar_active_class('admin/people')}
              %a{href: people_path}
                %i.fa.fa-link
                %span People
            %li{class: sidebar_active_class('admin/desks')}
              %a{href: desks_path}
                %i.fa.fa-link
                %span Desks
            %li{class: sidebar_active_class('admin/machines')}
              %a{href: machines_path}
                %i.fa.fa-link
                %span Machines
            %li{class: sidebar_active_class('admin/password_tiers')}
              %a{href: password_tiers_path}
                %i.fa.fa-link
                %span Password Tiers
            %li{class: sidebar_active_class('admin/contests')}
              %a{href: contests_path}
                %i.fa.fa-link
                %span Contests
            %li.header UTILITIES
            %li{class: sidebar_active_class('admin/remote_tasks')}
              %a{href: remote_tasks_path}
                %i.fa.fa-link
                %span Remote Tasks


      .content-wrapper
        %section.content-header
          %h1= yield(:content_header)
        %section.content
          - if notice
            %div.alert.alert-success#notice{role: 'alert'}= notice
          - if flash[:error]
            %div.alert.alert-error#error{role: 'alert'}= flash[:error]

          = yield

      %footer.main-footer
        Powered by
        %a{href: 'https://github.com/jcioi/ioi_console'} ioi_console
